* {
  margin:0; padding:0;
}
header {
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  background-color:aliceblue
}
header .headline{
  font-size: 32px;
}
.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

p.hello{
  text-align: center;
  font-size: large;
  font-weight: 400;
}
.num{
  display: flex;
}
.post{
  margin-bottom: 20px;
}